version: "3.8"

services:
  nginx:
    build: .
    container_name: antonio_dpl_small_light
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
