# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Django
db.sqlite3
local_settings.py

# Entorno virtual
.venv/

# Archivos de configuración sensibles
.env
.env.local

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

